.button-radius {
  display: inline-block;
  border: 2px solid $accent-color;
  color: $accent-color;
  padding: 13px 45px;
  border-radius: 50px;
  transition: all .3s ease;
  @media (hover: hover) {
    &:hover {
      background-color: $accent-color;
      color: #fff;
      -webkit-box-shadow: 0px 21px 48px -16px rgba(245, 56, 56, 0.91);
      -moz-box-shadow: 0px 21px 48px -16px rgba(245, 56, 56, 0.91);
      box-shadow: 0px 21px 48px -16px rgba(245, 56, 56, 0.91);
    }
  }
}


.title {
  color: $dark-color;

  font-size: 35px;
  font-style: normal;
  font-weight: 500;
  line-height: 50px; 
}

.subtitle {
  font-size: 16px;
  font-style: normal;
  font-weight: 400;
  line-height: 30px;
}

//===================================HERO=====================================================================================================================


.hero {
  @include adaptiveValue("padding-top",110 ,30 );
  @include adaptiveValue("padding-bottom",95 ,40 );
  // .hero__container
  &__container {

  }
  &__wrapper {
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding-bottom: clamp(1.25rem, -1.311rem + 12.8vw, 7.813rem);
    gap: 30px;
    @media (max-width: 890px) {
      flex-direction: column;
      gap: clamp(3.125rem, 2.423rem + 3.51vw, 4.375rem);
    }
  }
  // .hero__info
  &__info {
    max-width: 555px;
  }
  // .hero__info-title
  &__info-title {
    color: $dark-color;
    font-size: clamp(2.188rem, 1.7rem + 2vw, 3.125rem);
    font-style: normal;
    font-weight: 500;
    line-height: clamp(2.813rem, -2.75rem + 10vw, 4.375rem);
    padding-bottom: 20px;
    @media (max-width: 890px) {
      text-align: center;
    }
  }
  // .hero__info-subtitle
  &__info-subtitle {
    padding-bottom: clamp(0.625rem, -0.351rem + 4.88vw, 3.125rem);
    font-size: clamp(0.875rem, 0.826rem + 0.24vw, 1rem);
    line-height: clamp(1.25rem, 1.006rem + 1.22vw, 1.875rem);
    @media (max-width: 890px) {
      text-align: center;
    }
  }
  // .hero__info-button
  &__info-button {
    padding: 17px 77px;
    color: #fff;
    background-color: $accent-color;
    font-size: 16px;
    font-style: normal;
    font-weight: 700;
    line-height: 25px;
    border-radius: 10px;
    text-align: center;

    -webkit-box-shadow: 0px 21px 48px -16px rgba(245, 56, 56, 0.91);
    -moz-box-shadow: 0px 21px 48px -16px rgba(245, 56, 56, 0.91);
    box-shadow: 0px 21px 48px -16px rgba(245, 56, 56, 0.91);
    transition: background-color .3s ease;
    @media (max-width: 890px) {
      display: block;
      padding: clamp(0.813rem, 0.672rem + 0.7vw, 1.063rem) 0;
    }
    @media (hover: hover) {
      &:hover {
        background-color: red;
      }
    }
  }
  // .hero__img
  &__img {
    width: clamp(25rem, -7.262rem + 58vw, 34.063rem);
    @media (max-width: 890px) {
      width: clamp(18.125rem, -1.875rem + 100vw, 34.688rem);
    }
  }
	// .hero__about
  &__about {
    position: relative;
    display: flex;
    align-items: center;
    justify-content: space-between;
    width: 100%;
    padding: 67px 90px;
    border-radius: 10px;

    -webkit-box-shadow: 0px 53px 59px 0px rgba(66, 68, 90, 0.08);
    -moz-box-shadow: 0px 53px 59px 0px rgba(66, 68, 90, 0.08);
    box-shadow: 0px 53px 59px 0px rgba(66, 68, 90, 0.08);

    &::before {
      position: absolute;
      content: "";
      background-color: #EEEFF2;
      height: 125px;
      width: 2px;
      border-radius: 50%;

      top: 37px;
      left: clamp(15.625rem, 0.425rem + 31.42vw, 22.813rem);
      @media (max-width: 810px) {
        display: none;
      }
    }
    &::after {
      position: absolute;
      content: "";
      background-color: #EEEFF2;
      height: 125px;
      width: 2px;
      border-radius: 50%;

      top: 37px;
      right: clamp(16.75rem, 3.929rem + 26.5vw, 22.813rem);
      @media (max-width: 810px) {
        display: none;
      }
    }
    @media (max-width: 810px) {
     flex-direction: column; 
     gap: 40px;
    }
  }
  // .hero__about-item
  &__about-item {
    display: flex;
    align-items: center;
    gap: 36px;
    @media (max-width: 810px) {
      width: 200px;
     }
  }
  // .hero__about-img
  &__about-img {
  }
  // .hero__about-info
  &__about-info {
    
  }
  // .hero__about-quantity
  &__about-quantity {
    color: $dark-color;
    font-size: 25px;
    font-style: normal;
    font-weight: 700;
    line-height: 30px; 
  }
  // .hero__about-description
  &__about-description {
    font-size: 20px;
    font-style: normal;
    font-weight: 400;
    line-height: 30px; 
  }
}

.subtitle {
  font-style: normal;
  font-weight: 400;
  line-height: 30px;
}

//===================================/HERO=====================================================================================================================

//===================================FEATURES=====================================================================================================================

.features {
  @include adaptiveValue("padding-bottom",125 ,30 );
  // .features__container
  &__container {
    display: flex;
    align-items: center;
    justify-content: space-between;
    gap: 20px;
    @media (max-width: 840px) {
      flex-direction: column-reverse;
    }
  }
  // .features__img
  &__img {
    width: clamp(25rem, 4.849rem + 37.93vw, 31.875rem);
    @media (max-width: 440px) {
      width: 100%;
    }
  }
  // .features__wrapper
  &__wrapper {
    padding-top: 70px;
    width: 380px;
    @media (max-width: 840px) {
      padding: 0;
    }
    @media (max-width: 440px) {
      width: 100%;
    }
  }
  // .features__title
  &__title {
    padding-bottom: 20px;
  }
  // .features__subtitle
  &__subtitle {
    padding-bottom: 20px;
  }
  // .features__items
  &__items {
  }
  // .features__item
  &__item {
    position: relative;
    padding: 15px;
    margin-left: 28px;
    &::before {
      position: absolute;
      content: url(@img/icons/check.svg);
      bottom: 8px;
      left: -30px;
    }
  }
}

//===================================/FEATURES=====================================================================================================================

//===================================PRICING=====================================================================================================================

.pricing {
  padding-top: clamp(2.5rem, 1.524rem + 4.88vw, 5rem);
  padding-bottom: clamp(4.375rem, 2.424rem + 9.76vw, 9.375rem);

  background: linear-gradient(180deg, #F8F8F8 -45.04%, rgba(248, 248, 248, 0.00) 88.56%);
  // .pricing__container
  &__container {
  }
  // .pricing__title
  &__title {
    text-align: center;
    padding-bottom: 20px;
  }
  // .pricing__subtitle
  &__subtitle {
    text-align: center;
    max-width: 555px;
    margin: 0 auto;
    padding-bottom: clamp(1.875rem, 1.143rem + 3.66vw, 3.75rem);
  }
  // .pricing__cards
  &__cards {
    display: flex;
    align-items: stretch;
    justify-content: center;
    flex-wrap: wrap;
    gap: 30px;
  }
  // .pricing__card
  &__card {
    padding: 80px 70px 50px 70px;
    border: 2px solid #DDDDDD;
    background-color: #fff;
    border-radius: 10px;
    display: flex;
    justify-content: space-between;
    flex-direction: column;
    transition: transform .3s ease;
    &:last-child {
      border-color: $accent-color;
    }
    @media (hover: hover) {
      &:hover {
        transform: translateY(-15px);
      }
    }
    @media (max-width: 390px) {
      margin: 0 auto;
      padding: clamp(3.125rem, -5.446rem + 42.86vw, 5rem) 15px;
      width: 100%;
    }
  }
  // .pricing__card-top
  &__card-top {
    padding-bottom: 50px;
  }
  &__card-wrapper {
    display: flex;
    justify-content: center;
  }
  // .pricing__card-img
  &__card-img {
    display: block;
    margin: 0 auto;
    padding-bottom: 30px;
  }
  // .pricing__card-title
  &__card-title {
    color: $dark-color;

    text-align: center;
    font-size: 18px;
    font-style: normal;
    font-weight: 500;
    line-height: 30px; 
    padding-bottom: 25px;
  }
  // .pricing__card-list
  &__card-list {
    
  }
  // .pricing__card-item
  &__card-item {
    display: flex;
    align-items: center;
    gap: 20px;
    padding: 5px;
  }
  // .pricing__card-bottom
  &__card-bottom {
  }
  // .pricing__card-price
  &__card-price {
    color: $dark-color;

    text-align: center;
    font-size: 25px;
    font-style: normal;
    font-weight: 500;
    line-height: 30px;
    padding-bottom: 20px;
    span {
      color: #4F5665;
      font-size: 25px;
      font-style: normal;
      font-weight: 400;
      line-height: 30px;
    }
  }
  // .pricing__card-button
  &__card-button {
    text-align: center;
    font-weight: 700;
    font-size: 16px;
  }
}

//===================================/PRICING=====================================================================================================================

//===================================MAP=====================================================================================================================

.map {
  padding-bottom: clamp(2.813rem, 1.715rem + 5.49vw, 5.625rem);
  // .map__container
  &__container {
  }
  // .map__title
  &__title {
    text-align: center;
    max-width: 390px;
    margin: 0 auto;
    padding-bottom: 20px;
  }
  // .map__subtitle
  &__subtitle {
    text-align: center;
    max-width: 555px;
    margin: 0 auto;
    padding-bottom: clamp(1.875rem, -1.052rem + 14.63vw, 9.375rem);
  }
  // .map__img
  &__img {
    width: 100%;
  }
}

//===================================/MAP=====================================================================================================================

//===================================TESTIMONIALS=====================================================================================================================

.testimonials {
  padding-bottom: 65px;
  // .testimonials__container
  &__container {
  }
  // .testimonials__title
  &__title {
    text-align: center;
    margin: 0 auto;
    max-width: 480px;
    padding-bottom: 20px;
  }
  // .testimonials__subtitle
  &__subtitle {
    text-align: center;
    margin: 0 auto;
    max-width: 555px;
    padding-bottom: clamp(1.875rem, 1.143rem + 3.66vw, 3.75rem);
  }
  // .testimonials__slider
  &__slider {
    width: 1300px;
    padding-bottom: 60px;
    @media (max-width: 485px) {
      width: 100%;
      display: flex;
      gap: 30px;
    }
  }
  // .testimonials__wrapper
  &__wrapper {
    align-items: stretch !important;
  }
  // .testimonials__slide
  &__slide {
    width: 400px;
    min-height: 230px;
    flex-shrink: 0;
    border-radius: 10px;
    border: 2px solid #DDD;
    padding: clamp(0.938rem, 0.572rem + 1.83vw, 1.875rem);
  }
}
.swiper-slide-active {
  border-color: $accent-color;
  -webkit-box-shadow: 8px 3px 100px -3px rgba(0, 0, 0, 0.09);
  -moz-box-shadow: 8px 3px 100px -3px rgba(0, 0, 0, 0.09);
  box-shadow: 8px 3px 100px -3px rgba(0, 0, 0, 0.09);
  transition: all .8s ease;
}

.slide {
  // .slide__header
  &__header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding-bottom: 8px;
  }
  // .slide__header-user
  &__header-user {
    display: flex;
    align-items: center;
    gap: 20px;
  }
  // .slide__header-img
  &__header-img {
  }
  // .slide__header-info
  &__header-info {
  }
  // .slide__header-name
  &__header-name {
    color: $dark-color;

    font-size: 18px;
    font-style: normal;
    font-weight: 500;
    line-height: 30px; 
  }
  // .slide__header-location
  &__header-location {
    
  }
  // .slide__header-grade
  &__header-grade {
    color: $dark-color;

    font-size: 16px;
    font-style: normal;
    font-weight: 400;
    line-height: 30px; 
    position: relative;
    margin-right: 19px;
    &::after {
      content: url(@img/icons/star.svg);
      position: absolute;
      top: 2px;
      right: -23px;
    }
  }
  // .slide__description
  &__description {
    color: $dark-color;

    font-size: clamp(0.875rem, 0.826rem + 0.24vw, 1rem);
    font-style: normal;
    font-weight: 400;
    line-height: 30px; 
  }
}
.swiper-navigation {
  display: flex;
  align-items: center;
  justify-content: space-between;
}
.swiper-pagination {
  display: flex;
  align-items: center;
  gap: 15px;
}

.swiper-pagination-bullet {
  width: 15px;
  height: 15px;
  border-radius: 50%;
  background-color:#DDD;
}

.swiper-pagination-bullet-active {
  width: 45px;
  border-radius: 25px;
  background-color: $accent-color;
  transition: all .2s ease;
}

.swiper-buttons {
  display: flex;
  gap: 20px;
}

.swiper-button-prev {
  width: 60px;
  height: 60px;
  border: 2px solid $accent-color;
  border-radius: 50%;
  display: flex;
  align-items: center;
  justify-content: center;
  transition: all .2s ease;
  @media (hover: hover) {
    &:hover {
      background-color: $accent-color;
      svg {
        path {
          fill: #fff;
        }
      }
    }
  }
}
.swiper-button-next {
  width: 60px;
  height: 60px;
  border: 2px solid $accent-color;
  border-radius: 50%;
  display: flex;
  align-items: center;
  justify-content: center;
  transform: rotate(180deg);
  transition: all .2s ease;
  @media (hover: hover) {
    &:hover {
      background-color: $accent-color;
      svg {
        path {
          fill: #fff;
        }
      }
    }
  }
}

//===================================/TESTIMONIALS=====================================================================================================================

//===================================SUBSCRIBE=====================================================================================================================

.subscribe {
  position: relative;
  // .subscribe__container
  &__container {

  }
  &__wrapper {
    display: flex;
    align-items: center;
    justify-content: space-between;
    flex-wrap: wrap;
    gap: 30px;
    background-color: #fff;
    padding: 58px clamp(0.938rem, -0.404rem + 6.71vw, 4.375rem);
    margin-bottom: clamp(-4.375rem, -3.155rem + -6.1vw, -7.5rem);
    border-radius: 10px;

    -webkit-box-shadow: 0px 0px 100px 2px rgba(66, 68, 90, 0.03);
    -moz-box-shadow: 0px 0px 100px 2px rgba(66, 68, 90, 0.03);
    box-shadow: 0px 0px 100px 2px rgba(66, 68, 90, 0.03);

    @media (max-width: 820px) {
      justify-content: center;
      text-align: center;
      flex-direction: column;
    }
  }
  // .subscribe__info
  &__info {
    max-width: 370px;
  }
  // .subscribe__info-title
  &__info-title {
    line-height: 45px;
    padding-bottom: 10px;
  }
  // .subscribe__info-subtitle
  &__info-subtitle {
  }
  // .subscribe__button
  &__button {
    color: #FFF;

    font-size: 16px;
    font-style: normal;
    font-weight: 700;
    line-height: 25px;

    padding: 17px 65px;
    border-radius: 10px;
    background-color: $accent-color;
    display: inline-block;

    -webkit-box-shadow: 0px 21px 48px -16px rgba(245, 56, 56, 0.91);
    -moz-box-shadow: 0px 21px 48px -16px rgba(245, 56, 56, 0.91);
    box-shadow: 0px 21px 48px -16px rgba(245, 56, 56, 0.91);
    transition: background-color .4s ease;
    @media (hover: hover) {
      &:hover {
        background-color: red;
      }
    }
    @media (max-width: 440px) {
      width: 100%;
      text-align: center; 
    }
  }
}

//===================================/SUBSCRIBE=====================================================================================================================
